<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css"> --}}
    <link rel="icon" href="/img/node.svg">
    <title>Help</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h4>{{message}}</h4>
    </div>

    {{>footer}}
</body>

</html>